<nav class="navbar navbar-expand-sm bg-light">

  <ul class="navbar-nav">
    <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
        Home
    <%end%>
    <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
        Link 2
    <%end%>
    <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
        Link 3
    <%end%>
  </ul>
</nav>

  <div class="row">
  <div class="col text-center">
    <button type="button" class="btn">Button 1</button>
    <button type="button" class="btn btn-primary">Button 2</button>
    <button type="button" class="btn btn-secondary">Button 3</button>
  </div>
  </div>